// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text-box {
  background-color: #EDF0F2;
  width: 400px;
  padding: 16px;
  border-radius: 8px;
}
